.header{
    background-color: #002882;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    background-image: url('../../../assets/images/vtb-logo.png');
    height: 30px;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}

.user-info{
    width: 330px;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    color: white;
}

.count{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    margin-left: 220px;
}

.avatar{
    width: 60px;
    background-image: url("../../../assets/images/avatar.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 35px;
}

.name-container{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.exit{
    background-image: url("../../../assets/images/exit.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 25px;
    width: 50px;
    margin-left: 70px;
    cursor: pointer;
}

.money{
    margin-left: 20px;
    background-image: url("../../../assets/images/money.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 25px;
    width: 50px;
    cursor: pointer;
}